[submodule "NetflixEurekaServer"]
	path = NetflixEurekaServer
	url = https://github.com/himali3101/NetflixEurekaServer
[submodule "AnalysisReport"]
	path = AnalysisReport
	url = https://github.com/himali3101/AnalysisReport
[submodule "Login"]
	path = Login
	url = https://github.com/himali3101/Login
