[submodule "NetflixEurekaServer"]
	path = NetflixEurekaServer
	url = https://github.com/himali3101/NetflixEurekaServer
[submodule "AnalysisReport"]
	path = AnalysisReport
	url = https://github.com/himali3101/AnalysisReport
[submodule "Login"]
	path = Login
	url = https://github.com/himali3101/Login
[submodule "BuyOrSell"]
	path = BuyOrSell
	url = https://github.com/himali3101/BuyOrSell
[submodule "ProfileManagement"]
	path = ProfileManagement
	url = https://github.com/himali3101/ProfileManagement
[submodule "PropertyManagement"]
	path = PropertyManagement
	url = https://github.com/himali3101/PropertyManagement
[submodule "Zuul"]
	path = Zuul
	url = https://github.com/himali3101/Zuul
